{
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": [
    "node_modules"
  ]
}